<div id="city">
	<select (change)="onSelectCity($event.target.value)">>
		<option *ngFor='let c of data' value={{c.name}}>{{c.name}}</option>
	</select>
	<button (click)="resetCity()">Reset</button>
	<div id="container1"></div>
</div>
<div id="year">
	<select (change)="onSelectYear($event.target.value)">>
		<option *ngFor='let y of year' value={{y.name}}>{{y.name}}</option>
	</select>
	<button (click)="resetYear()">Reset</button>
	<div id="container"></div>
</div>
<!-- <h1 [(ngModel)]="year" ngDefaultControl>{{year}}</h1> -->
